.content
  .container
    .row
      .span12
        %form{ :action => "/admin/sessions/login", :method => "post"}
          %h2= 'Admins Login'
          %br
          %p Email
          %input.form-input{ :name => "email", :type => "text", :size => "20" }
          %p Password:
          %input.form-input{ :name => "password", :type => "password", :size => "20" }
          %br
          %br
          %input.btn{ :name => "submit", :type => "submit", :value => "Submit"}