.row
  .span12
    #tittle
      .content
        .alert.alert-error
          %button.close{type: "button", data:{dismiss: "alert"}}
            &times;
          La página que busca no existe
- content_for :title do
  Error