.footer
  #footer-top
    .row-fluid
      .span6
        #links-left
          %ul
            %p
              %a.btn-mini{:href => "/"} Home
            %p
              %a.btn-mini{:href => "/empresa"} Empresa
            %p
              %a.btn-mini{:href => "/caracteristicas"} Características
            %p
              %a.btn-mini{:href => "/tutoriales"} Tutoriales
        #links-right
          %ul
            %p
              %a.btn-mini{:href => "/contacto"} Contacto
            %p
              %a.btn-mini{:href => "http://newsletter.backing.com.ar/", :target => "_blank"} Ingreso al Sistema
            %p
              %a.btn-mini{:href => "/condiciones-de-uso"} Condiciones de uso
            %p
              %a.btn-mini{:href => "/politicas-de-privacidad"} Políticas de privacidad
      .span6
        #logos
          %img.size-auto{:alt => "", :border => "0", :src => "/img/logo-back.png"}
          %img.size-auto{:alt => "", :border => "0", :src => "/img/logo-dineromail.png"}
          %a{:href => "http://qr.afip.gob.ar/?qr=eQwPrhMSBWboilyckO-bDQ,,", :target => "_blank", :alt => "", :border => "0"}
            %img.size-auto{ :src => "/img/logo-afip.png"}
  #footer-bottom
    #institutional
      %p © BACKING S.A. | Copyright 2010-2013 BAmailer. Todos los derechos reservados.
%script{:src => "/js/jquery.2.0.min.js"}
%script{:src => "/js/bootstrap.min.js"}
