%div{:clas => "masthead"}
  .bg-logo
    #logo
      %a{:href => "index.html"}
        %img{:src => "img/logo-2.png"}/
    #top-message
      %h1 Sistema de envío de emails
  .navbar
    .navbar-inner
      .container
        %ul.nav
          %li{ :class => (request.path_info == '/') ? 'class => active' : '' }
            %a{:href => "/"} Home
          %li{ :class => (request.path_info == '/') ? '' : '' }
            %a{:href => "#"} Empresa
          %li{ :class => (request.path_info == '/caracteristicas') ? 'class => active' : '' }
            %a{:href => "/caracteristicas"} Características
          %li{ :class => (request.path_info == '/tutoriales') ? 'class => active' : '' }
            %a{:href => "/tutoriales"} Tutoriales
          %li{ :class => (request.path_info == '/contacto') ? 'class => active' : '' }
            %a{:href => "/contacto"} Contacto
          %li.btn-ppal.btn-sistema
            %a{:href => "http://newsletter.backing.com.ar/", :target => "_blank"} Ingreso al sistema