.jumbotron
  %p.lead Envíe emails publicitarios o institucionales con diseño, ahorre tiempo y ordene su información, evalúe el impacto con reportes y estadísticas, todo en un una plataforma sencilla e intuitiva.
  %a.btn.btn-warning{:href => "/servicio"}
    Solicite el servicio ahora
    %i.icon-white.icon-play-circle