.row
  .span12
    #tittle
      .content-tittle
        %h2 Características
    #content-subtittle
      %div
        %a{:name => "send"}
      %i.icon-envelope
      %h4 Envíe emails con diseño
    %p
      %strong Editor en línea:
      No envíe texto plano, use el editor para crear presentaciones con diferentes tipos de letra, colores o tablas.
      %br>/
      No se requiere experiencia alguna.
      %br/
      %br/
      %strong Su propia imagen corporativa:
      Sin ningún conocimiento gráfico usted puede incorporar su imagen corporativa. Si no tiene diseñador o no desea contratar uno, sus boletines pueden tener una presentación profesional.
      %br/
      %br/
      %strong Diseño avanzado:
      Si sabe HTML, puede incorporarlo en sus boletines y crear sus propios diseños. Incluso puede salvarlos como "templates" y utilizarlos posteriormente, o definir uno o varios templates para luego ser utilizados por personal sin experiencia alguna en HTML.
    %br/
    #content-subtittle
      %div
        %a{:name => "time"}
      %i.icon-time
      %h4 Ahorre tiempo y ordene su información
    %p
      %strong Administre fácilmente:
      Incluya nuevos usuarios desde archivos de Excel o txt, mediante Copy+Paste de largas listas, o manualmente.
      %br/
      %br/
      %strong Muchas listas, una herramienta:
      Tenga varias listas para diferentes boletines. Una para notificar a sus clientes de sus logros mensuales, otra para quienes se suscriben desde su sitio, y envíe fácilmente a una o a varias listas el mismo boletín.
      %br/
      %br/
      %strong Ordene automáticamente:
      No se preocupe por revisar si los emails existen o no.
      %strong
        %span{:style => "color: #FF8800"} bamailer.com.ar
      automáticamente excluye los emails malos y limpia sus listas de correo.
    %br/
    #content-subtittle
      %div
        %a{:name => "base"}
      %i.icon-base
      %h4 Administración de base de datos
    %p
      %strong Administración:
      le ofrece la posibilidad de administrar una base de datos con los emails de sus clientes.
      %br/
      %br/
      %strong Segmentos:
      el sistema le permite segmentar su base de datos mediante etiquetas.
      %br/
      %br/
      %strong Le permite con cada email realizar:
      altas-bajas-modificaciones. Además de hacer altas masivas vía archivos txt.
      %br/
    %br/
    #content-subtittle
      %div
        %a{:name => "test"}
      %i.icon-impact
      %h4 Evalúe el impacto con reportes y estadísticas
    %p
      %strong Envíos:
      Verifique cuántos emails envió, cuántos se abrieron y cuántos rebotaron. Tenga reportes ordenados en tiempo real.
      %br/
      %br/
      %strong Campañas:
      Si incluyó un banner publicitario, un cupón web, o un link a una oferta, obtenga números y estadísticas sobre el ingreso al mismo.
      %br/
      %br/
      %strong Ordene automáticamente:
      No se preocupe por revisar si los emails existen o no.
      %strong
        %span{:style => "color: #FF8800"} bamailer.com.ar
      automáticamente excluye los emails malos y limpia sus listas de correo.
      %br/
      %br/
%hr/
.row
  .span-practicos
    %h3 Muchos aspectos prácticos
    %p
      %strong Pruebas:
      Realice pruebas y verifique el diseño de su email antes de hacer sus envíos, desde las opciones: Vista Previa y Envío de Prueba.
      %br/
      %strong Información disponible:
      administre desde su espacio, clientes-usuarios (casillas de emails), newsletter anteriores y por enviar,  datos de todas las campañas realizadas y las estadísticas obtenidas.
      %br/
      %strong Soporte:
      Ponemos a su disposición archivos y documentación que le permitirán sacar el mayor provecho de sus boletines, obteniendo la mayor rentabilidad.
      %br/
      %strong Personalice:
      Cada email puede ser enviado personalmente y con el nombre de cada receptor. Esto aumenta las respuestas hasta en un 400%.
      %br/
      %strong Plataforma sencilla e intuitiva:
      %span{:style => "color: #FF8800"} bamailer.com.ar
      fue desarrollado a medida de sus necesidades, y es producto de años de experiencia trabajando con boletines y mailings.
- content_for :title do
  Caracteristicas