.row
  .span12
    #tittle
      .content-tittle-conditions
        %h2 Condiciones de uso // ACEPTACIÓN DE TÉRMINOS Y CONDICIONES
    %p
      1. Los servicios de
      %strong
        %span{:style => "color: #FF8800"} bamailer.com.ar
      se proveen a usuarios registrados ("Tú", "Usted", "Usuario" o "Usuarios") de acuerdo con los Términos del Servicio de
      %strong
        %span{:style => "color: #FF8800"} bamailer.com.ar
      (el "Servicio" o los "Servicios") redactados en esta página.
      %br/
      %br/
      Se entiende por usuario registrado toda dirección de correo electrónico y datos asociados suscriptos a cualquiera de las listas de correo alojadas en
      %strong
        %span{:style => "color: #FF8800"} bamailer.com.ar
      , tanto si dicha suscripción ha sido realizada por el interesado, por el creador o administrador de una lista, o por una entidad autorizada a realizar tal suscripción.
      %br/
      %br/
      El uso directo o indirecto de los servicios ofrecidos por
      %strong
        %span{:style => "color: #FF8800"} bamailer.com.ar
      implica la aceptación de estos términos, aplicables tanto a creadores de listas como a usuarios suscritos a las mismas.
      %br/
      %br/
      %strong
        %span{:style => "color: #FF8800"} bamailer.com.ar
      delega en los creadores y administradores de listas la responsabilidad de informar a los usuarios suscritos a sus listas sobre la aceptación implícita de estos Términos, reservándose
      %strong
        %span{:style => "color: #FF8800"} bamailer.com.ar
      , el derecho a informar a cualquier usuario, dichos Términos.
      %br/
      %br/
      Los servicios comerciales no gratuitos de 2.1 se regirán por los Términos del Servicio acordados durante la contratación del Servicio. En caso de que los mencionados Términos no se hayan estipulado, cobran vigencia los Términos del Servicio aquí redactados.
    %br/
    #main-content-politics
      #content-subtittle-politics
        %h5 ACERCA DEL CORREO NO SOLICITADO Y DEL CONTENIDO PUBLICITARIO O PROMOCIONAL
      %p
        %strong 2.1.-
        Está terminantemente prohibido utilizar los Servicios ofrecidos por
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        para la creación de listas de distribución con el propósito de enviar correo no solicitado de cualquier tipo.
        %br/
        %br/
        %strong 2.2.-
        Está igualmente prohibida la promoción de listas alojadas en
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        mediante el envío de mensajes no solicitados. Esto incluye mensajes publicitarios, invitaciones no solicitadas y otros métodos.
        %br/
        %br/
        %strong 2.3.- CAN-SPAM Act. -
        Cuando alguien envía un mensaje a una lista hospedada en
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        , el propósito del envío de dicho mensaje es el de ser redistribuido a los miembros de la lista. Es decir, los servidores de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        actúan como servidores puente de retransmisión de mensajes, no como servidores de correo de cuentas individuales.
        %br/
        Dado que, según estos términos del servicio, el envío de correo no solicitado no está autorizado - según queda definido en las cláusulas de la 2.1 a la 2.3 de estos términos - cualquier mensaje no solicitado enviado a cualquier lista alojada en
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        viola directamente las secciones 104(a)(2) y 105(b)(3) del S.877 CAN-SPAM Act de 2003, y
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        podrá iniciar cargos civiles contra el iniciador original del mensaje y exigir pago por daños y perjuicios tal y como se especifica en las secciones 107(f)(1), 107(f)(2) ay107(f)(3) del mencionado S.877 CAN-SPAM Act de 2003.
        %br/
        %br/
        %strong 2.4.-
        Está terminantemente prohibido utilizar los servicios de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        con el propósito de retaliación, venganza, represalia, desquite, revancha o castigo, incluyendo el acto de hacer llegar a un tercero, mensajes enviados por
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        sin su consentimiento, entre otros.
        %br/
        %br/
        %strong 2.5.-
        Está terminantemente prohibido utilizar el nombre, marcas, direcciones, títulos o cargos de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        en publicaciones no gestionadas directamente por
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        si dicho uso pudiera interpretarse como que
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        es el autor original de dicha publicación. Si la distribución del contenido es llevada a cabo por una entidad otra que
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        , está igualmente prohibido el utilizar el nombre, marcas, direcciones, títulos o cargos de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        si estos pudieran interpretarse como que
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        está realizando dicha distribución.
      #content-subtittle-politics
        %h5 RESPONSABILIDADES GENERALES
      %p
        %strong 3.1.-
        Las opiniones expresadas por los usuarios en las listas alojadas en
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        no han de coincidir con las opiniones de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        \. Asimismo,
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        tampoco es responsable del contenido publicado en dichas listas.
        %br/
        %br/
        %strong 3.2.-
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        no se hace responsable, directo o indirecto, sobre quejas, disputas o problemas, legales, morales o de otra índole, surgidos como consecuencia de la creación de una lista o de sus contenidos, actuales o futuros, de la misma.
        %br/
        %br/
        %strong 3.3.-
        El usuario utiliza los servicios proporcionados por
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        bajo su responsabilidad.
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        no se responsabiliza de los contenidos, materiales o datos conseguidos mediante la utilización de los servicios ofrecidos por
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        , ni de los daños que se puedan ocasionar al usuario como consecuencia de la utilización de los servicios proporcionados por
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        \.
      #content-subtittle-politics
        %h5 UTILIZACIÓN DEL SERVICIO
      %p
        %strong 4.1.-
        El usuario se obliga a no transmitir, difundir, publicar, distribuir, intercambiar, vender o poner a disposición de terceros a través de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        , contenidos, elementos, imágenes, textos, anuncios, mensajes, o cualquier otro producto que de cualquier forma pueda ser considerado (I) ilegal, ofensivo, abusivo, o en cualquier caso cuestionable, (II) contenido racista, profano o difamador, o que promueva el terrorismo, daño físico, moral o material a uno mismo o a otros individuos o grupos, (III) que proporcione o divulgue información sobre actividades ilegales o clandestinas, (IV) que contravenga o atente contra los derechos fundamentales y libertades públicas, (V) que induzca, incite o promueva actuaciones delictivas, denigratorias, difamatorias, infamantes, violentas, actuaciones, actitudes o ideas discriminatorias por razón de sexo, raza, religión, creencias, edad o condición (VI) servicios delictivos o en general, contrarios a la ley o al orden público, y en particular aquéllos que pudieran atentar contra los derechos de los menores, (VII) que se encuentren protegidos por derechos de propiedad intelectual o industrial pertenecientes a terceros, sin que el usuario haya obtenido previamente de sus titulares la autorización necesaria para llevar a cabo el uso efectuado o que se pretende efectuar, (VIII) suplantando la personalidad o información del remitente, tanto si esta se realiza para circunvalar un bloqueo, para hacer llegar mensajes a una lista que de otra manera no llegarían, o por cualquier otro motivo.
        %br/
        %br/
        %strong 4.2.-
        El usuario se obliga a no cifrar o encriptar contenidos distribuidos a través de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        mediante algoritmos o fórmulas que no puedan ser descifradas por
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        o por fuerzas del orden público, especialmente si dicho cifrado se realiza con la intención de ocultar una o varias violaciones de estos términos.
        %br/
        %br/
        %strong 4.3.-
        El usuario se obliga a no utilizar los servicios ofrecidos por
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        para la compra, venta o intercambio de artículos cuestionables o cuyo comercio pudiera estar legislado, incluyendo entre otros la compra, venta o intercambio de alcohol, animales vivos, armas de fuego, bienes embargados, decodificadores de TV, drogas ilegales e utensilios para su uso, sellos o monedas falsos, tarjetas de crédito, órganos humanos, plantas, artículos robados o tabaco.
        %br/
        %br/
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        no será en ningún caso responsable, ni en términos de responsabilidad civil ni penal, ni principal ni subsidiariamente, por los daños y perjuicios de cualquier tipo que se derivaren directa o indirectamente del incumplimiento por el usuario de las obligaciones anteriormente descritas.
      #content-subtittle-politics
        %h5 PUBLICIDAD
      %p
        %strong 5.1.-
        ESTA CLAUSULA NO ES APLICABLE A LISTAS COMERCIALES O SIN PUBLICIDAD. El usuario acepta y autoriza a
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        la inclusión de anuncios publicitarios en los mensajes, páginas y otros medios distribuidos a través de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        \.
        %br/
        %br/
        %strong 5.2.-
        Los usuarios que gestionen una o más listas (administradores y/o moderadores de listas) pueden incluir publicidad en sus mensajes y cobrar a los anunciantes, a su discreción.
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        no garantiza este Servicio como fuente de ingresos de ningún tipo.
      #content-subtittle-politics
        %h5 VENTA DEL SERVICIO
      %p
        %strong 6.1.-
        ESTA CLAUSULA NO ES APLICABLE A LISTAS COMERCIALES O SIN PUBLICIDAD. El usuario acepta y autoriza a
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        la inclusión de anuncios publicitarios en los mensajes, páginas y otros medios distribuidos a través de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        \.
      #content-subtittle-politics
        %h5 DERECHOS DE AUTOR Y PROPIEDAD INTELECTUAL
      %p
        %strong 7.1.-
        Para efectos legales, el contenido, pasado, actual o futuro generado a través de los Servicios ofrecidos por
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        queda definido como obra colectiva, propiedad de la persona que edite y remita a
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        dichos contenidos.
        %br/
        %br/
        %strong 7.2.-
        La persona natural o jurídica responsable de la coordinación de los contenidos es el usuario creador del grupo o lista, sobre quien recaen los derechos sobre la obra colectiva y quien podrá, a su discreción, otorgar privilegios adicionales.
        %br/
        %br/
        %strong 7.3.-
        La persona natural o jurídica responsable de la coordinación cede a
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        el derecho de decidir si su obra ha de ser divulgada y en qué forma. En cualquier caso,
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        respetará este derecho de este usuario siempre y cuando dicho usuario acepte las formas de distribución y divulgación propias e implícitas del Servicio.
        %br/
        %br/
        %strong 7.4.-
        El usuario cede a
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        los derechos no exclusivos, gratuitos, permanentes e irrevocables de reproducción, distribución y comunicación pública para usar, distribuir, copiar, reproducir y mostrar cualquier material, completo o parcial, enviado a través de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        , y exime a
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        y sus sucesores de cualquier tipo de responsabilidad por ello. En caso contrario,
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        no tendría derechos legales de publicar o distribuNo obstante esta cesión de derechos, el usuario podrá contratar o utilizar a terceros, sin necesidad de autorización expresa de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        , servicios similares o las habituales prácticas comerciales a que es normalmente sometido las creaciones objeto de estos términos, o cesar su uso de los Servicios ofrecidos por
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        , con o sin razón, y con o sin previo aviso.
        %br/
        %br/
        %strong 7.5.-
        No obstante esta cesión de derechos, el usuario podrá contratar o utilizar a terceros, sin necesidad de autorización expresa de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        , servicios similares o las habituales prácticas comerciales a que es normalmente sometido las creaciones objeto de estos términos, o cesar su uso de los Servicios ofrecidos por
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        , con o sin razón, y con o sin previo aviso.
        %br/
        %br/
        %strong 7.6.-
        LISTAS PRIVADAS. En el caso de listas privadas, supeditando las cláusulas 7.3 y 7.4,
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        se compromete a no divulgar la existencia de la lista a través del catálogo y buscador de listas ofrecido desde
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        y a no divulgar los contenidos de la misma a través de cualquier medio público fuera del entorno natural impuesto por la mecánica de la lista.
      #content-subtittle-politics
        %h5 JURISDICCIÓN DE RESPONSABILIDADES Y CONTENIDOS
      %p
        %strong 8.1.-
        La persona natural o jurídica declarada en las cláusulas 7.1 y 7.2 asume toda la responsabilidad en que el contenido de una lista o contenidos derivados de la misma no incluya material que viole cualquiera de las cláusulas de estos Términos de Servicio.
        %br/
        %br/
        %strong 8.2.-
        Si el contenido de una lista o contenidos derivados de la misma incluye material no apto para menores o incurre en una falta civil o penal en determinadas regiones para determinadas audiencias, la persona natural o jurídica declarada en las cláusulas 7.1 y 7.2 asume toda la responsabilidad en moderar la suscripción a su lista, y en que todos los miembros del mismo pueden legalmente acceder a dicho contenido.
      #content-subtittle-politics
        %h5 REGISTRO DE BASE DE DATOS
      %p
        %strong 9.1.-
        La base de datos de los servicios de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        es gestionada por
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        , su único propietario a efectos legales, bajo la jurisdicción de la República Argentina.
      #content-subtittle-politics
        %h5 OTRAS LIMITACIONES
      %p
        %strong 10.1.-
        No se permite la creación de listas que tengan como objetivo principal otro que el uso de las mismas para la distribución o intercambio de mensajes. En especial está prohibida la creación de listas cuyo propósito principal sea el uso del área de ficheros, o para obtener más espacio en área de archivado de mensajes, o para crear direcciones de correo alternativas.
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        determinará a su discreción si el objetivo principal de una lista es o no el especificado en esta cláusula.
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        se reserva el derecho de eliminar sin previo aviso aquellas listas que determine violen esta cláusula.
        %br/
        %br/
        %strong 10.2.-
        Usuarios del Servicio que creen, administren o moderen listas alojadas en
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        quedan obligados a describir de forma verídica en todo momento la finalidad o propósito real de sus listas, no pudiendo describir, anunciar, publicar o promocionar las mismas con datos incorrectos o información falsa. En particular
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        prohíbe la descripción falsa de una lista con el propósito de ocultar la finalidad real de la misma.
      #content-subtittle-politics
        %h5 CANCELACIÓN DEL SERVICIO
      %p
        %strong 11.-
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        se reserva el derecho de cancelar este Servicio, temporal o definitivamente.
      #content-subtittle-politics
        %h5 EDICIÓN DE CONTENIDOS
      %p
        %strong 12.-
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        no revisa, modera o modifica el contenido de ninguna lista, pero se reserva el derecho de revisar o eliminar cualquier información publicada en cualquier lista, con o sin aviso, incluyendo la cancelación de una lista, especialmente si
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        decide que estas condiciones de uso no se han respetado.
      #content-subtittle-politics
        %h5 MODIFICACIÓN DE ESTOS TÉRMINOS
      %p
        %strong 13.-
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        se reserva el derecho de modificar estos Términos de Servicio. Los Términos de este Servicio pueden ser actualizados en el futuro y adecuados a la normativa en vigor. Una vez aceptados los Términos del Servicio significa que acepta todas cuantas actualizaciones lleve a cabo
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        \.
        %br/
        %br/