.row
  .span12
    #tittle
      .content-tittle
        %h2 Empresa
    %p
      Backing S.A. es una empresa de tecnología informática, con más de 10 años de experiencia en la creación, diagramación, desarrollo e implementación  de sistemas informáticos basados en web. Por las distintas necesidades de comunicación publicitaria e institucional de nuestros clientes: empresas, profesionales y comerciantes surge BAmailer, un Sistema de Envío de Newsletter desarrollado a medida de los distintos requerimientos. Usando nuevas tecnologías y una plataforma ágil e intuitiva, logramos un aplicativo sencillo y de fácil manejo.
      %br/
      %strong Este sistema que le permitirá ordenar y agilizar su comunicación publicitaria e institucional por un bajo costo.
      %br/
      %br/
- content_for :title do
  Empresa
