.row-fluid
  .span3
    %h3 Emails con diseño
    %a{:href => "/caracteristicas#send"}
      %i.icon-envelope-home
    .main
      %p Le permite generar boletines y newsletters sin conocimiento gráfico o de HTML y hacer envíos masivos a una o varias listas de usuarios.
    %p
      %a.btn{:href => "/caracteristicas#send"} + info »
  .span3
    %h3 Ahorre tiempo
    %a{:href => "/caracteristicas#time"}
      %i.icon-time-home
    .main
      %p Es una herramienta en soporte web para administrar listas de correo. No es necesario bajar ni instalar ningún software.
    %p
      %a.btn{:href => "/caracteristicas#time"} + info »
  .span3
    %h3 Base de datos
    %a{:href => "/caracteristicas#base"}
      %i.icon-base-home
    .main
      %p Puede  administrar los mails de sus clientes, realizar: altas-bajas-modificaciones. Además de hacer altas masivas vía archivos txt.
    %p
      %a.btn{:href => "/caracteristicas#base"} + info »
  .span3
    %h3 Evalúe su campaña
    %a{:href => "/caracteristicas#test"}
      %i.icon-test-home
    .main
      %p Con las estadísticas que ofrece el Sistema de envíos, Ud. puede tener información confiable con los datos de sus campañas.
    %p
      %a.btn{:href => "/caracteristicas#test"} + info »