!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title bamailer.com.ar - BAmailer -Administre listas de correo y boletines para envíos masivos y newsletters
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %link{:href => "css/bootstrap.min.css", :media => "screen", :rel => "stylesheet"}/
    %link{:href => "css/bootstrap-responsive.min.css", :media => "screen", :rel => "stylesheet"}/
    %link{:href => "css/bamailer.css", :media => "screen", :rel => "stylesheet"}/
  %body
    .container
      = partial 'menu'
      = partial 'sub_header'
      %hr/
      = yield
      = partial 'footer'