.row
  .span12
    #tittle
      .content-tittle-politics
        #content-h2
          %h2 DATA PRIVACY POLICY
        %a{:href => "/politicas-de-privacidad"}
          %i.icon-flag-spain
            .politics
              %p Spanish version
    %p
      Firstly, we remind you that the service provided by
      %strong
        %span{:style => "color: #FF8800"} bamailer.com.ar
      has been designed to assist companies and other organizations in keeping their clients informed in an effective and professional way when their databases contain thousands of email addresses and their administration becomes complex, but it has not been designed to let you send spam through this system.
      %br/
      %br/
      In other words, in the event that you send emails in a massive and indiscriminate way through our system,
      %strong
        %span{:style => "color: #FF8800"} bamailer.com.ar
      reserves the right to close your lists and cancel your client membership automatically without prior notice, having the right to initiate the corresponding legal actions.
      %br/
      %br/
      Our Data Privacy Policy below has been designed to assure
      %strong
        %span{:style => "color: #FF8800"} bamailer.com.ar
      users that their information shall be handled with the strictest confidentiality.
      %br/
      %br/
      For your peace of mind, read carefully the information outlined below to understand our legal and moral commitment to each and every user of
      %strong
        %span{:style => "color: #FF8800"} bamailer.com.ar.
    %br/
    #main-content-politics
      #content-subtittle-politics
        %h5 WHO HAS ACCESS TO YOUR INFORMATION?
      %p
        Except under unusual circumstances, which shall be outlined later, no one shall have access to the information you enter in the
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        service, except for you and the administrators of
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        , should they need access for maintenance purposes.
      #content-subtittle-politics
        %h5
          CAN
          %strong
            %span{:style => "color:#00004E"} bamailer.com.ar
          DISCLOSE YOUR PERSONAL INFORMATION TO THIRD PARTIES?
      %p
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        shall not sell, publish or supply to third parties any private information entered by users of
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        under any circumstances, unless to the extent required by law or when
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        has a moral obligation based on legal grounds.
        %br/
        %br/
      #content-subtittle-politics
        %h5 Child Pornography
      %p
        In the event that
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        finds a list with pederast or erotic/pornographic content with minors, or dedicated to give information on how to obtain said content, it shall immediately provide the applicable authorities, especially the Argentine Federal Police and the FBI of the United States of America, the following information:
        %br/
        = succeed "All" do
          %i.icon-chevron-right
        the messages sent to the list and their headers in full form (including those that had been deleted from the archive)
        %br/
        = succeed "All" do
          %i.icon-chevron-right
        the files sent to the file area of the list.
        %br/
        = succeed "The" do
          %i.icon-chevron-right
        email addresses of all the members of the list, current and past ones, particularly the addresses used by the creators and administrators of the list.
        %br/
        = succeed "Date" do
          %i.icon-chevron-right
        and time of member access to the list, including the numeric IP address of the servers our services are connected to.
        %br/
        %br/
        The use of
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        entails the acceptance of this section and your commitment and understanding of our zero tolerance policy as regards spam.
        %br/
        %br/
      #content-subtittle-politics
        %h5
          WHAT INFORMATION DOES AN ADMINISTRATOR GET FROM A LIST HOSTED IN
          %strong
            %span{:style => "color:#00004E"} bamailer.com.ar
          WHEN SOMEONE SUBSCRIBES TO IT?
      %p
        When someone subscribes to a list hosted in
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        , the administrator of said list shall know the email address with which that person registered, their name (if indicated), the day they registered, and the subscription preferences of said list.
        %br/
        %br/
      #content-subtittle-politics
        %h5
          DOES
          %strong
            %span{:style => "color:#00004E"} bamailer.com.ar
          HAVE ANY INTEREST IN YOUR PERSONAL INFORMATION?
      %p
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        uses a series of equations to quantify several general statistics that are considered interesting and useful, such as the number of users subscribed to
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        or the average subscriptions during a day in the
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        system.
        %br/
        %br/
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        shall only use information about those preferences you select to better customize the advertising included in the free lists, but shall never disclose such information, in whole or in part, to any third party.
        %br/
        %br/
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        produces and maintains for a specific period of time a history of the accesses to the services offered by
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        , including websites accesses, emails and other accesses to the
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        servers, including date and time, source IP address, access account and actions performed, with the sole purpose of providing a mechanism to investigate possible system attacks or violations to the service terms of use, or to provide a better technical support when needed (for example, when the user contacts the technical support team of
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        ).
        %br/
        %br/
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        agrees not to use these histories for any business purpose, except in the cases previously described (abuse and technical support).
        %br/
        %br/
      #content-subtittle-politics
        %h5
          SHALL
          %strong
            %span{:style => "color:#00004E"} bamailer.com.ar
          USE YOUR EMAIL ADDRESS TO SEND YOU UNSOLICITED MESSAGES?
      %p
        Except in special occasions,
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        may need to send an informative message to several or all the registered users in
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        as regards its services, and it may also be possible that, from time to time, a member of the
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        team contacts you personally for a specific reason.
        %br/
        %br/
        Beyond that, there are no reasons for receiving unsolicited messages from
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        \.
        %br/
        %br/
      #content-subtittle-politics
        %h5
          WHAT LEGAL WARRANTIES DOES
          %strong
            %span{:style => "color:#00004E"} bamailer.com.ar
          PROVIDE REGARDING THE PRIVACY OF YOUR PERSONAL INFORMATION?
      %p
        In
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        , we take your data privacy and your system security seriously, and, for this purpose, we have a 24-hour maintenance and monitoring team. However,
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        cannot guarantee that no one shall be able to illegally obtain this information by means of unlawful actions. Remember that much of the information that travels between your computer and our servers is not encrypted and is vulnerable to being intercepted and read by third parties.
        %br/
        %br/
        That is why
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        shall not be liable in any case in the event third parties obtain any kind of unauthorized information stored in the servers of
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        \.
        %br/
        %br/
      #content-subtittle-politics
        %h5 WHAT SHOULD YOU DO IF YOU BELIEVE THAT YOUR ACCOUNT HAS BEEN COMPROMISED?
      %p
        If you believe that the
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        account security has been compromised, you should immediately send us an email with the subject “SECURITY PROBLEM” or similar, which clearly states that the issue should be given priority.
        %br/
        %br/
        Your message shall be received and, depending on the severity of the issue, we shall contact you as soon as possible to let you know what steps should be taken.
        %br/
        %br/
      #content-subtittle-politics
        %h5 DATA COLLECTION AND CANCELLATION
      %p
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        exercises a zero tolerance policy against the data collected via fraudulent, unfair or illegal ways.
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        not only condemns said practices, but also shall collaborate with law enforcement authorities when it considers that
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        services have been used to obtain information by means of fraudulent, unfair or illegal actions.
        %br/
        %br/
        Personal data shall be cancelled once they are no longer necessary or applicable to the purpose for which they have been collected or registered. They shall not be kept in any way that enables the identification of the interested party for a period greater than the necessary for the purposes for which they were collected or registered.
        %br/
        %br/
        The procedure by which we, under special circumstances, having taken into account the historical, statistical or scientific values in accordance with the specific law, may decide the full maintenance of certain information shall be determined by regulation.
        %br/
        %br/
      #content-subtittle-politics
        %h5 REVISIONS AND MODIFICATIONS
      %p
        This data privacy policy shall be periodically revised to assure that it complies with the needs of
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        as well as with the demands of users and the applicable law.
        %br/
        %br/
- content_for :title do
  Politicas de Privacidad