.row
  .span12
    #tittle
      .content-tittle-politics
        #content-h2
          %h2 POLíTICA DE PRIVACIDAD DE DATOS
        %a{:href => "/politicas-de-privacidad-en"}
          %i.icon-flag-eeuu
            .politics
              %p English version
    %p
      En primer lugar le recordamos que el servicio de
      %strong
        %span{:style => "color: #FF8800"} bamailer.com.ar
      ha sido ideado para que las empresas y demás organizaciones puedan mantener informados a sus clientes de una forma eficaz y profesional cuando su base de datos contiene cientos de mails y su administración es compleja pero que no ha sido pensado para que Ud pueda hacer Spam mediante este sistema.
      %br/
      %br/
      Es decir, en el caso de que Ud haga un envío indiscriminado y masivo a través de nuestro sistema,
      %strong
        %span{:style => "color: #FF8800"} bamailer.com.ar
      se reserva el derecho de clausurar sus listas y darlo de baja como cliente de forma automática sin necesidad de previa notificación y reservándose el derecho de iniciar las acciones legales pertinentes.
      %br/
      %br/
      A continuación se encuentra nuestra Política de Privacidad de Datos la cual ha sido creada para que los usuarios de
      %strong
        %span{:style => "color: #FF8800"} bamailer.com.ar
      tengan la confianza de que su información será tratada con la más estricta confidencialidad.
      %br/
      %br/
      Para su tranquilidad, lea la información presentada a continuación ya que le permitirá comprender nuestro compromiso legal y moral con todos y cada uno de los usuarios de
      %strong
        %span{:style => "color: #FF8800"} bamailer.com.ar.
    %br/
    #main-content-politics
      #content-subtittle-politics
        %h5 ¿QUIÉN TIENE ACCESO A SUS DATOS?
      %p
        Salvo en ocasiones excepcionales (las cuales serán mencionadas más adelante) ninguna persona tendrá acceso a la información que Ud introduzca en el servicio de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        a excepción de Ud y los administradores de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        en caso de necesitar el acceso por motivos de mantenimiento.
      #content-subtittle-politics
        %h5
          ¿PUEDE
          %strong
            %span{:style => "color:#00004E"} bamailer.com.ar
          REVELAR SU INFORMACIÓN PERSONAL A TERCEROS?
      %p
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        no venderá, publicará o entregará a terceros ninguna información privada introducida por los usuarios de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        bajo ningún propósito, excepto cuando la ley así lo exija o
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        se vea en una obligación moral por motivos legales.
        %br/
        %br/
      #content-subtittle-politics
        %h5 PORNOGRAFÍA INFANTIL
      %p
        En el caso que
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        localice una lista con contenido pederasta, o erótico/pornográfico con menores de edad o dedicada a dar información respecto de cómo obtener dicho contenido, pondrá inmediatamente en mano de las autoridades pertinentes, principalmente la Policía Federal Argentina y el FBI de los EEUU, la siguiente información:
        %br/
        = succeed "Todos" do
          %i.icon-chevron-right
        los mensajes enviados a la lista y sus encabezados de forma completa (incluyendo aquellos que hayan sido borrados del archivo)
        %br/
        = succeed "Todos" do
          %i.icon-chevron-right
        los archivos enviados al área de ficheros de la lista.
        %br/
        = succeed "Las" do
          %i.icon-chevron-right
        direcciones de correo de todos los miembros de la lista, actuales y pasadas, en particular las direcciones usadas por los creadores y administradores de la lista.
        %br/
        = succeed "Fechas" do
          %i.icon-chevron-right
        y horas de acceso de los miembros de la lista, incluyendo la IP numérica de los servidores desde donde se conectan con nuestros servicios.
        %br/
        %br/
        El uso de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        supone la aceptación de esta cláusula y de su compromiso y conocimiento respecto de nuestra política de tolerancia cero frente al Spam.
        %br/
        %br/
      #content-subtittle-politics
        %h5
          ¿QUÉ INFORMACIÓN OBTIENE UN ADMINISTRADOR DE UNA LISTA ALOJADA EN
          %strong
            %span{:style => "color:#00004E"} bamailer.com.ar
          CUANDO SE SUSCRIBE UNA PERSONA?
      %p
        Cuando una persona se suscribe a una lista alojada en
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        , el administrador de dicha lista podrá conocer la dirección de correo con la que dicha persona se dio de alta, su nombre (en caso de que lo haya indicado) el día en que se dio de alta y las preferencias de suscripción a dicha lista.
        %br/
        %br/
      #content-subtittle-politics
        %h5
          ¿TIENE
          %strong
            %span{:style => "color:#00004E"} bamailer.com.ar
          ALGÚN TIPO DE INTERÉS EN TU INFORMACIÓN PERSONAL?
      %p
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        utiliza una serie de ecuaciones para cuantificar diversas estadísticas de carácter general que considera de interés y utilidad como por ejemplo, el número de usuarios suscritos a
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        o la media de suscripciones realizadas durante el día en el sistema de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        \.
        %br/
        %br/
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        sólo utilizará información respecto de aquellas preferencias que indiques para la mejor adecuación de la publicidad incluida en las listas gratuitas pero jamás pondrá dicha información a disposición de terceros, completa o parcialmente.
        %br/
        %br/
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        igualmente produce y retiene durante un tiempo determinado un historial de los accesos a los servicios ofrecidos por
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        , incluyendo accesos a páginas web, mensajes de correo electrónico y otros tipos de acceso a los servidores de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        incluyendo hora y fecha, dirección IP de origen, cuenta de acceso y acciones realizadas, con el único propósito de proporcionar un mecanismo le permita investigar posibles ataques al sistema o violaciones de los términos de uso del servicio, o para proporcionar mejor asistencia técnica cuando sea requerido (por ejemplo, debido a una consulta del usuario al equipo de soporte técnico de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        ).
        %br/
        %br/
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        se compromete a no utilizar estos historiales por motivos comerciales de ningún tipo, salvo en los casos expuestos en el párrafo anterior (abuso y soporte técnico).
        %br/
        %br/
      #content-subtittle-politics
        %h5
          ¿UTILIZARÁ
          %strong
            %span{:style => "color:#00004E"} bamailer.com.ar
          SU DIRECCIÓN DE CORREO PARA ENVIARLE MENSAJES NO SOLICITADOS?
      %p
        Salvo en ocasiones especiales,
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        puede verse en la necesidad de enviarle un mensaje informativo a varios o a todos los usuarios registrados en
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        referente a sus servicios y también cabe la posibilidad de que en alguna ocasión, algún miembro del equipo de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        se ponga en contacto con Ud personalmente por alguna razón concreta.
        %br/
        %br/
        Más allá de eso, no hay razones por las cuales Ud. reciba mensajes no solicitados por parte de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        \.
        %br/
        %br/
      #content-subtittle-politics
        %h5
          ¿QUÉ GARANTÍAS LEGALES OFRECE
          %strong
            %span{:style => "color:#00004E"} bamailer.com.ar
          SOBRE LA PRIVACIDAD DE SUS DATOS?
      %p
        Para
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        , la privacidad de datos y la seguridad de su sistema es un tema muy serio y a tal fin, cuenta con un equipo de mantenimiento y monitoreo las 24 horas del día. Sin embargo,
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        no puede garantizar que nunca aparecerá nadie descubriendo alguna oscura artimaña para obtener información de manera ilícita. Recuerde que mucha de la información que viaja entre su máquina y nuestros servidores, lo hace de forma no cifrada, siendo vulnerable a ser interceptada y leída por terceros.
        %br/
        %br/
        Es por ello que
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        no puede hacerse responsable de cualquier evento que resulte de la obtención no permitida por terceros de cualquier información guardada en los servidores de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        \.
        %br/
        %br/
      #content-subtittle-politics
        %h5 ¿QUÉ DEBE HACER UD SI CREE QUE SU CUENTA HA SIDO COMPROMETIDA?
      %p
        Si Ud considera que la seguridad de su cuenta de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        se encuentra comprometida, deberá enviarnos inmediatamente un mensaje indicando como asunto "PROBLEMA SEGURIDAD" o algo similar que denote la seriedad del problema.
        %br/
        %br/
        Su mensaje será recibido y dependiendo de la seriedad del asunto, nos comunicaremos cuanto antes con Ud para indicarle los pasos a seguir.
        %br/
        %br/
      #content-subtittle-politics
        %h5 RECOLECCIÓN Y CANCELACIÓN DE DATOS
      %p
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        ejerce una política de tolerancia cero contra la recogida de datos por medios fraudulentos, desleales o ilícitos. No solo
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        condena dichas prácticas, sino que colaborará con las fuerzas del orden público cuando considere que los servicios de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        han sido utilizados en conjunción con la obtención de datos por medios fraudulentos, desleales o ilícitos.
        %br/
        %br/
        Los datos de carácter personal serán cancelados cuando hayan dejado de ser necesarios o pertinentes para la finalidad para la cual han sido recabados o registrados. No serán conservados en forma que permita la identificación del interesado durante un período superior al necesario para los fines en base a los cuales hubieran sido recabados o registrados.
        %br/
        %br/
        Reglamentariamente se determinará el procedimiento por el que, por excepción, atendidos los valores históricos, estadísticos o científicos de acuerdo con la legislación específica, se decida el mantenimiento íntegro de determinados datos.
        %br/
        %br/
      #content-subtittle-politics
        %h5 REVISIONES Y MODIFICACIONES
      %p
        Esta política de privacidad de datos será revisada periódicamente para asegurarnos que cumple con las necesidades de
        %strong
          %span{:style => "color:#00004E"} bamailer.com.ar
        así como con las demandas de los usuarios y la legislación vigente.
        %br/
        %br/