.row-fluid
  .span12
    #tittle
      .content-tittle-img
        %h2 Utilidades de la plataforma
    #content-video1
      .span6
        .tittle-video
          %h1 Creación y adminsitración de newsletters
          %h2/
        %a.thumbnail
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "373", :src => "//www.youtube.com/embed/K7oaDqfY1eg", :width => "468"}
      .span6
        .tittle-video
          %h1 Creación y adminsitración de campañas
          %h2/
        %a.thumbnail
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "373", :src => "//www.youtube.com/embed/LA3Ad3FKu0U", :width => "468"}
      .span6
        .tittle-video
          %h1 Creación newsletters texto/imagen
          %h2/
        %a.thumbnail
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "373", :src => "//www.youtube.com/embed/SR01jz5iQqg", :width => "468"}
      .span6
        .tittle-video
          %h1 Adminsitración de clientes
          %h2/
        %a.thumbnail
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "373", :src => "//www.youtube.com/embed/zqysAEsWvvQ", :width => "468"}
      .span6
        .tittle-video
          %h1 Instrucciones generales
          %h2/
        %a.thumbnail
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "373", :src => "//www.youtube.com/embed/9Wh0IUcy4Og", :width => "468"}